@model Divers_Hotel.Models.tbRoomType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbRoomType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roomTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
